<h1 id="contact_us_header">Contact Us</h1>
<br>
<div id="contact_us_intro">
<p>Feel free to share any suggestions, observations, and/or bugs you find. These messages will be
sent directly to the sole maintainer and developer of GoalieGoals. Thanks for your feedback!</p>
</div>
<br>
<%= form_tag do %>

  <%= label_tag(:q, "Your Email Address:") %>

  <% email = current_user ? current_user.email : '' %>
  <%= text_field_tag(:from, email) %>

  <%= label_tag(:q, "Subject:") %>
  <%= text_field_tag(:subject, 'GoalieGoals - Contact Us') %>

  <%= label_tag(:q, "Message Body:") %>
  <%= text_area_tag(:message, nil, class: 'contact_us') %>
  <br>
  <%= submit_tag("Send") %>
<% end %>