- if @goal.errors.any?
  .alert.alert-error
    = "#{pluralize(@goal.errors.count, "error")} prohibited this goal from being saved:"
    %ul
      - @goal.errors.full_messages.each do |msg|
        %li= msg

= form_for @goal do |f|

  %table
    %tr
      %th Action
      %th Quantity
      %th Unit
      %th Frequency
      %th
      %th Frequency unit

    %tr
      %td
        = f.text_field :action
        .example.text-center Exercise
      %td
        = f.text_field :quantity
        .example.text-center 30
      %td
        = f.text_field :unit
        .example.text-center minutes
      %td
        = f.text_field :frequency
        .example.text-center 5
      %td{style: 'padding-left: 10px; padding-right: 10px;'}
        #times-per_field times a
        .text-center#times-per_example times a
      %td
        = f.select :frequency_unit, options: Goalie::DateUtil::TIME_UNITS
        .example.text-center week

  %br

  .goal.row
    .field.span12
      = f.label :start
      = f.date_select :start
    .field.span12
      = f.label :end
      = f.date_select :end
  .actions
    = f.submit 'Save', class: 'btn btn-primary'