= render partial: 'errors'

- url = params[:action] == 'edit' ? {} : {url: goals_create_solo_path}
= form_for @goal, url do |f|

  %table
    %tr
      %th Action
      %th Quantity
      %th Unit
      %th Frequency
      %th
      %th Frequency unit

    %tr
      %td
        = f.text_field :action
        .example.text-center Exercise
      %td
        = f.text_field :quantity
        .example.text-center 30
      %td
        = f.text_field :unit
        .example.text-center minutes
      %td
        = f.text_field :frequency
        .example.text-center 5
      %td{style: 'padding-left: 10px; padding-right: 10px;'}
        #times-per_field times a
        .text-center#times-per_example times a
      %td
        = f.select :frequency_unit, options: Goalie::DateUtil::TIME_UNITS
        .example.text-center week

  %br

  .goal.row
    .field.span12
      = f.label :start
      = f.date_select :start
    .field.span12
      = f.label :end
      = f.date_select :end
  .actions
    - if @goal.new_record?
      = link_to goals_path, class: 'btn btn-secondary', style: 'margin-right: 10px;' do
        %i.icon-arrow-left
        Back to Goals
    = f.submit 'Save', class: 'btn btn-primary'
    - if !@goal.new_record?
      .btn-group.dropup{style:'padding-left: 5px;'}
        %a.btn.dropdown-toggle{data: {toggle:'dropdown'}, href: '#'}
          Action
          %span.caret
        %ul.dropdown-menu.dropup
          %li= link_to 'Delete', @goal, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %li= link_to 'New Goal', new_goal_path
      .btn-group.dropup
        %a.btn.dropdown-toggle{data: {toggle:'dropdown'}, href: '#'}
          View
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'Details', @goal
          %li= link_to 'Goals', goals_path
          %li= link_to 'Logs', goal_logs_url(@goal)
