= form_for @goal do |f|

  .goal.row
    %span.field.span2
      = f.label :action
      = f.text_field :action
    %span.field.span2
      = f.label :quantity
      = f.text_field :quantity
    %span.field.span2
      = f.label :unit
      = f.text_field :unit
    %span.field.span2
      = f.label :frequency
      = f.text_field :frequency
    %span.field.span2{style: 'padding-top:30px; height: 35px;'}
      &nbsp;times per
    %span.field.span2
      = f.label :frequency_unit, 'Freq. Unit'
      = f.text_field :frequency_unit

  .goal.row
    .field.span12
      = f.label :start
      = f.date_select :start
    .field.span12
      = f.label :end
      = f.date_select :end
  .actions
    = f.submit 'Save', class: 'btn btn-primary'