%h1.index_header Listing Goals

= render partial: 'errors'

%table{class: 'table table-condensed table-striped table-bordered'}
  %tr
    %th.text-center Action
    %th.text-center Quantity
    %th.text-center Unit
    %th.text-center Freq.
    %th.text-center -
    %th.text-center F. unit
    %th.text-center Start
    %th.text-center End
    %th.text-center Status
    %th.text-center Actions


  = form_for @goal, html: {class: 'no-margins'} do |f|
    %td.text-center
      = f.text_field :action, {class: 'action-field table-input'}
    %td.text-center
      = f.text_field :quantity, {class: 'goal-quantity-field table-input'}
    %td.text-center
      = f.text_field :unit, {class: 'unit-field table-input'}
    %td.text-center
      = f.text_field :frequency, {class: 'frequency-field table-input'}
    %td.text-center times a
    %td.text-center
      = f.select :frequency_unit, Goalie::DateUtil::TIME_UNITS, {}, id: 'frequency-unit-select', class: 'frequency-unit-field table-input'
    %td.text-center
      .input-append
        = f.text_field :start, {value: Time.zone.today.to_s(:db), class: 'date-field table-input'}
        %label.add-on.table-input{for: 'goal_start'}
          %i.icon-calendar
    %td.text-center
      .input-append
        = f.text_field :end, {value: (Time.zone.today + 1.month).to_s(:db), class: 'date-field table-input'}
        %label.add-on.table-input{for: 'goal_end'}
          %i.icon-calendar
    %td.text-center -
    %td.text-center
      %button.btn.btn-primary Add Goal

  - @goals.each do |goal|
    %tr
      %td.text-center= goal.action
      %td.text-center= goal.quantity
      %td.text-center= goal.unit
      %td.text-center= goal.frequency
      %td.text-center= 'times a'
      %td.text-center= goal.frequency_unit
      %td.text-center= goal.start
      %td.text-center= goal.end
      %td.text-center
        - if goal.on_target
          %span.label.label-success Passing
        - else
          %span.label.label-important Failing
      %td.text-center
        = link_to 'Logs', goal_logs_url(goal), class: 'btn btn-mini btn-inverse'
        = link_to 'Show', goal, class: 'btn btn-mini btn-inverse '
        = link_to 'Edit', edit_goal_path(goal), class: 'btn btn-mini btn-inverse'
        = link_to 'Delete', goal, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-inverse'

%br
.text-center
  = link_to 'New Goal', new_goal_path, class: 'btn btn-primary'
