%h1.index_header Goals

= render partial: 'errors'

%table{class: 'table table-condensed table-striped table-bordered table-header-standalone'}
  %tr
    %th.text-center.action-cell#action-header Action
    %th.text-center.goal-quantity-cell Quantity
    %th.text-center.unit-cell Unit
    %th.text-center.frequency-cell Freq.
    %th.text-center.times-a-cell -
    %th.text-center.frequency-unit-cell F. unit
    %th.text-center.date-cell Start
    %th.text-center.date-cell End
    %th.text-center.status-cell Status
    %th.text-center.actions-cell#actions-header Actions

-# We use a new goal if there's an update in progress.
- formGoal = @goal
- formGoal = Goal.new if @goal.id
= form_for formGoal, html: {class: 'no-margins'} do |f|
  %table{class: 'table table-condensed table-striped table-bordered no-bottom-margin'}
    %tr
      %td.text-center.action-cell
        = f.text_field :action, {class: 'action-field table-input'}
      %td.text-center.goal-quantity-cell
        = f.text_field :quantity, {class: 'goal-quantity-field table-input'}
      %td.text-center.unit-cell
        = f.text_field :unit, {class: 'unit-field table-input'}
      %td.text-center.frequency-cell
        = f.text_field :frequency, {class: 'frequency-field table-input'}
      %td.text-center.times-a-cell#times-a-field times a
      %td.text-center.frequency-unit-cell
        = f.select :frequency_unit, Goalie::DateUtil::TIME_UNITS, {}, id: 'frequency-unit-select', class: 'frequency-unit-field table-input'
      %td.text-center.date-cell
        .input-append
          - goalStart = formGoal.start ? formGoal.start : Time.zone.today
          = f.text_field :start, {value: goalStart.to_s(:db), class: 'date-field table-input'}
          %label.add-on.table-input{for: 'goal_start'}
            %i.icon-calendar
      %td.text-center.date-cell
        .input-append
          - goalEnd = formGoal.end ? formGoal.end : (Time.zone.today + 1.month)
          = f.text_field :end, {value: goalEnd.to_s(:db), class: 'date-field table-input'}
          %label.add-on.table-input{for: 'goal_end'}
            %i.icon-calendar
      %td.text-center.status-cell#status-field -
      %td.text-center.actions-cell
        %button.btn.btn-primary Add

- @goals.each do |goal|
  .view-edit-pair
    -# Show the goal if it's being edited
    - goalClasses = 'no-margins edit-goal-form hidden'
    - if goal.id == @goal.id
      - goalClasses = 'no-margins edit-goal-form'
      - goal = @goal
    = form_for goal, html: {class: goalClasses} do |f|
      %table{class: 'table table-condensed  table-striped table-bordered no-bottom-margin plain-top'}
        %tr.edit-goal-row
          %td.text-center.action-cell
            = f.text_field :action, {class: 'action-field table-input'}
          %td.text-center.goal-quantity-cell
            = f.text_field :quantity, {value: goalie_number(goal.quantity), class: 'goal-quantity-field table-input'}
          %td.text-center.unit-cell
            = f.text_field :unit, {class: 'unit-field table-input'}
          %td.text-center.frequency-cell
            = f.text_field :frequency, {value: goalie_number(goal.frequency), class: 'frequency-field table-input'}
          %td.text-center.times-a-cell#times-a-field times a
          %td.text-center.frequency-unit-cell
            = f.select :frequency_unit, Goalie::DateUtil::TIME_UNITS, {}, id: 'frequency-unit-select', class: 'frequency-unit-field table-input'
          %td.text-center.date-cell
            .input-append
              - goalStart = goal.start ? goal.start : Time.zone.today
              = f.text_field :start, {value: goalStart.to_s(:db), id: "goal_start_#{goal.id}", class: 'date-field table-input'}
              %label.add-on.table-input{for: "goal_start_#{goal.id}"}
                %i.icon-calendar
          %td.text-center.date-cell
            .input-append
              - goalEnd = goal.end ? goal.end : (Time.zone.today + 1.month)
              = f.text_field :end, {value: goalEnd.to_s(:db), id: "goal_end_#{goal.id}", class: 'date-field table-input'}
              %label.add-on.table-input{for: "goal_end_#{goal.id}"}
                %i.icon-calendar
          %td.text-center.status-cell#status-field -
          %td.text-center.actions-cell
            = link_to "<i class='icon-list'></i>".html_safe, goal_logs_url(goal), title: 'View Logs for this Goal', class: 'goalie-action-icon'
            = link_to "<i class='icon-ok'></i>".html_safe, '#', title: 'Save this Goal', class: 'goalie-action-icon goal-submit-link'
            = link_to "<i class='icon-remove'></i>".html_safe, goal, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Delete this Goal', class: 'goalie-action-icon'

    - unless goal.id == @goal.id
      %table{class: 'view-goal-table table table-condensed table-striped table-bordered no-bottom-margin plain-top'}
        %tr.view-goal-row
          %td.text-center.action-cell= goal.action
          %td.text-center.goal-quantity-cell= goalie_number(goal.quantity)
          %td.text-center.unit-cell= goal.unit
          %td.text-center.frequency-cell= goalie_number(goal.frequency)
          %td.text-center.times-a-cell= 'times a'
          %td.text-center.frequency-unit-cell= goal.frequency_unit
          %td.text-center.date-cell= goal.start
          %td.text-center.date-cell= goal.end
          %td.text-center.status-cell
            - if goal.on_target
              %span.label.label-success Passing
            - else
              %span.label.label-important Failing
          %td.text-center.actions-cell
            = link_to "<i class='icon-list'></i>".html_safe, goal_logs_url(goal), title: 'View Logs for this Goal', class: 'goalie-action-icon'
            %a{title: 'Edit this Goal', class: 'goalie-action-icon goal-edit-link', href:'#'}
              %i{class: 'icon-pencil'}
            = link_to "<i class='icon-remove'></i>".html_safe, goal, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Delete this Goal', class: 'goalie-action-icon'
