%h1.index_header Listing Goals

= render partial: 'errors'

%table{class: 'table table-condensed table-striped table-bordered'}
  %tr
    %th.text-center Action
    %th.text-center Quantity
    %th.text-center Unit
    %th.text-center Freq.
    %th.text-center -
    %th.text-center F. unit
    %th.text-center Start
    %th.text-center End
    %th.text-center Status
    %th.text-center Actions


  = form_for @goal, html: {class: 'no-margins'} do |f|
    %td.text-center
      = f.text_field :action, {class: 'action-field table-input'}
    %td.text-center
      = f.text_field :quantity, {class: 'goal-quantity-field table-input'}
    %td.text-center
      = f.text_field :unit, {class: 'unit-field table-input'}
    %td.text-center
      = f.text_field :frequency, {class: 'frequency-field table-input'}
    %td.text-center#times-a-field times a
    %td.text-center
      = f.select :frequency_unit, Goalie::DateUtil::TIME_UNITS, {}, id: 'frequency-unit-select', class: 'frequency-unit-field table-input'
    %td.text-center
      .input-append
        = f.text_field :start, {value: Time.zone.today.to_s(:db), class: 'date-field table-input'}
        %label.add-on.table-input{for: 'goal_start'}
          %i.icon-calendar
    %td.text-center
      .input-append
        = f.text_field :end, {value: (Time.zone.today + 1.month).to_s(:db), class: 'date-field table-input'}
        %label.add-on.table-input{for: 'goal_end'}
          %i.icon-calendar
    %td.text-center -
    %td.text-center
      %button.btn.btn-primary Add Goal

  - @goals.each do |goal|
    %tr
      %td.text-center= goal.action
      %td.text-center= goalie_number(goal.quantity)
      %td.text-center= goal.unit
      %td.text-center= goalie_number(goal.frequency)
      %td.text-center= 'times a'
      %td.text-center= goal.frequency_unit
      %td.text-center= goal.start
      %td.text-center= goal.end
      %td.text-center
        - if goal.on_target
          %span.label.label-success Passing
        - else
          %span.label.label-important Failing
      %td.text-center
        = link_to "<i class='icon-list'></i>".html_safe, goal_logs_url(goal), title: 'View Logs for this Goal', class: 'goal-action-icon'
        = link_to "<i class='icon-pencil'></i>".html_safe, edit_goal_path(goal), title: 'Edit this Goal', class: 'goal-action-icon'
        = link_to "<i class='icon-remove'></i>".html_safe, goal, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Delete this Goal', class: 'goal-action-icon'
