= render 'show'

.btn-group
  = link_to 'Edit', edit_goal_path(@goal), class: 'btn btn-primary'

  .btn-group.dropup{style:'padding-left: 5px;'}
    %a.btn.dropdown-toggle{data: {toggle:'dropdown'}, href: '#'}
      Action
      %span.caret
    %ul.dropdown-menu.dropup
      %li
        = link_to 'Delete', @goal, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %li
        = link_to 'New Goal', new_goal_path
  .btn-group.dropup
    %a.btn.dropdown-toggle{data: {toggle:'dropdown'}, href: '#'}
      View
      %span.caret
    %ul.dropdown-menu
      %li
        = link_to 'Goals', goals_path
      %li
        = link_to 'Logs', goal_logs_url(@goal)
