= render 'show'

.btn-group
  = link_to 'Edit', edit_goal_path(@goal), class: 'btn btn-primary'
  = link_to 'Logs', goal_logs_url(@goal), class: 'btn btn-secondary'
  = link_to 'Delete', @goal, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-secondary'
  = link_to 'New Goal', new_goal_path, class: 'btn btn-secondary'
  = link_to 'View All', goals_path, class: 'btn btn-secondary'