= form_for [@goal, @log] do |f|
  - if @log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@log.errors.count, "error")} prohibited this log from being saved:"
      %ul
        - @log.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :log_date
    = f.date_select :log_date
  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
