%h1.index_header Listing Logs

- if @goal.on_target
  .alert.alert-success.text-center
    On Target to Achieve Goal:
    %span{style: 'color: black'} #{@goal.to_s}
- else
  .alert.alert-error.text-center
    Failing to Achieve Goal:
    %span{style: 'color: black'} #{@goal.to_s}

-#.row
-#  .span1
-#    %span.badge.badge-important{style: "position: absolute; left: #{@goal.todays_percentage_of_time_completed}%"} #{@goal.todays_minimum.round(2)}

-#.blah{style:"position:relative;"}
-#  %span{style: "position: absolute; left: #{@goal.todays_percentage_of_time_completed}%"} #{@goal.todays_minimum.round(2)}


.row
  .span3{style: 'text-align: right;'}
    %b Total Completed:
  .span4
    %span.label.label-success #{@goal.log_sum}

.row
  .span3{style: 'text-align: right;'}
    %b Minimum Needed to Stay On Track:
  .span4
    %span.label.label-important #{@goal.todays_minimum.round(2)}

%br

- if @goal.percentage_completed_above_minimum > 0
  .progress
    .bar.bar-danger{style:"width: #{@goal.todays_percentage_of_time_completed}%;"}
    .bar.bar-success{style:"width: #{@goal.percentage_completed_above_minimum}%;"}
- else
  .progress
    .bar.bar-success{style:"width: #{@goal.percentage_completed}%;"}
    .bar.bar-danger{style:"width: #{@goal.todays_percentage_of_time_completed - @goal.percentage_completed}%;"}
.row
  %span.span1 0
  %span.span2.offset4.text-center #{@goal.unit}
  %span.span1.offset4.text-right
    = "%g" % @goal.pass_minimum.round(2)

%br
%br

%table{class: 'table table-condensed table-striped'}
  %tr
    %th Log Date
    %th Quantity
    %th Description
    %th Actions

  - @logs.each do |log|
    %tr
      %td= log.log_date
      %td= log.quantity
      %td= log.description
      %td
        = link_to 'Show', [@goal, log], class: 'btn btn-mini btn-inverse '
        = link_to 'Edit', edit_goal_log_path(@goal, log), class: 'btn btn-mini btn-inverse'
        = link_to 'Delete', [@goal, log], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-inverse'

%br
.text-center
  = link_to 'New Log', new_goal_log_path, class: 'btn btn-primary'
  = link_to 'Goal', @goal, class: 'btn'