%h1.index_header Listing Logs

%table{class: 'table table-condensed table-striped'}
  %tr
    %th Log Date
    %th Quantity
    %th Description
    %th Actions

  - @logs.each do |log|
    %tr
      %td= log.log_date
      %td= log.quantity
      %td= log.description
      %td
        = link_to 'View', log, class: 'btn btn-mini btn-inverse '
        = link_to 'Edit', edit_log_path(log), class: 'btn btn-mini btn-inverse'
        = link_to 'Delete', log, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-inverse'

%br
.text-center
  = link_to 'New Log', new_log_path, class: 'btn btn-primary'
