%h1.index_header Listing Logs

- if @goal.on_target
  .alert.alert-success.text-center
    On Target to Achieve Goal:
    = link_to(edit_goal_path(@goal), class: 'goal-link') do
      #{@goal.to_s}
- else
  .alert.alert-error.text-center
    Failing to Achieve Goal:
    = link_to(edit_goal_path(@goal), class: 'goal-link') do
      #{@goal.to_s}

.progress.log
  .progress-label
    Minimum to Stay on Track:
    %span.progress-unit #{sprintf('%g', @goal.todays_minimum.round(2))} #{@goal.unit}
  .bar.bar-danger{style:"width: #{@goal.todays_percentage_of_time_completed}%;"}

.progress.log
  .progress-label
    Total Completed:
    %span.progress-unit #{sprintf('%g', @goal.log_sum.round(2))} #{@goal.unit}
  .bar.bar-success{style:"width: #{@goal.percentage_completed}%;"}

.row.log-timeline
  %span.span1 0
  %span.span2.offset4.text-center #{@goal.unit}
  %span.span1.offset4.text-right
    = "%g" % @goal.pass_minimum.round(2)

%br

= render partial: 'errors'

%table{class: 'table table-condensed table-striped table-bordered'}
  %tr
    %th.text-center.date-column Log Date
    %th.text-center.quantity-column Quantity
    %th.text-center.description-column Description
    %th.text-center Actions

  %tr
    = form_for [@goal, @log], html: {class: 'no-margins'} do |f|
      %td
        .input-append
          = f.text_field :log_date, {value: Time.zone.today.to_s(:db), class: 'date-field table-input'}
          %label.add-on.table-input{for: 'log_log_date'}
            %i.icon-calendar
      %td.text-center
        = f.text_field :quantity, {class: 'quantity-field table-input'}
      %td
        = f.text_field :description, {class: 'description-field table-input'}
      %td.text-center
        %button.btn.btn-primary Add Log

  - @logs.each do |log|
    %tr
      %td.text-center.date-column= log.log_date
      %td.text-center.quantity-column= log.quantity
      %td.description-column= log.description.blank? ? '' : log.description
      %td.text-center
        = link_to 'Show', [@goal, log], class: 'btn btn-mini btn-inverse '
        = link_to 'Edit', edit_goal_log_path(@goal, log), class: 'btn btn-mini btn-inverse'
        = link_to 'Delete', [@goal, log], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-inverse'
