%h1.index_header Listing Logs

- if @goal.on_target
  .alert.alert-success.text-center
    On Target to Achieve Goal
- else
  .alert.alert-error.text-center
    Failing to Achieve Goal

%table{class: 'table table-condensed table-striped'}
  %tr
    %th Log Date
    %th Quantity
    %th Description
    %th Actions

  - @logs.each do |log|
    %tr
      %td= log.log_date
      %td= log.quantity
      %td= log.description
      %td
        = link_to 'View', [@goal, log], class: 'btn btn-mini btn-inverse '
        = link_to 'Edit', edit_goal_log_path(@goal, log), class: 'btn btn-mini btn-inverse'
        = link_to 'Delete', [@goal, log], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-mini btn-inverse'

%br
.text-center
  = link_to 'New Log', new_goal_log_path, class: 'btn btn-primary'
