
= link_to root_path do
  = image_tag 'soccerball.png', size: '32x32', style: 'float: left; padding: 0; padding-top: 5px; padding-left: 0px; padding-right: 5px;'

= link_to 'GoalieGoals', root_path, :class => 'brand', id: 'goalie-brand'

%ul.nav.pull-right
  - if user_signed_in?
    %li= link_to 'Goals', goals_path

  %li= link_to 'Details', details_path

  %li= link_to 'Contact Us', contact_us_path

  - if user_signed_in?
    %li= link_to 'Edit Account', edit_user_registration_path
  - else
    %li= link_to 'Sign Up', new_user_registration_path

  - if user_signed_in?
    %li= link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li= link_to 'Login', new_user_session_path
